export(fit_recursive)
export(fit_recursive_mlogit)
export(split_episodes)
export(stack_processes)
export(fit_multiproc)
export(recover_structural)
importFrom(stats, as.formula, vcov, pnorm, setNames)
S3method(coef, gensem_recursive)
S3method(vcov, gensem_recursive)
S3method(confint, gensem_recursive)
S3method(logLik, gensem_recursive)
S3method(print, gensem_recursive)
S3method(summary, gensem_recursive)
S3method(print, summary.gensem_recursive)
importFrom(stats, printCoefmat)
importFrom(stats, qnorm)
